* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 4em;
  background: #eee;
}

/**
 *  ============================================================================
 *  Global Components
 *  ============================================================================
 */

header {
  width: 100%;
  top: 0;
  position: fixed;
  background: royalblue;
  box-shadow: 0 4px 5px #ccc, 0 2px 3px #eee;
  font-size: 1.5em;
}

header > nav {
  margin: .6em .5em;
}

header > nav > ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

header > nav > ul > li {
  display: inline-block;
  margin: 0 .3em;
}
  #logo {
    width: 90%;
  }
    #logo a {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: 600;
      letter-spacing: -2px;
      color: #fff;
      text-decoration: none;
    }

#menu__toggle {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
#menu__toggle-label {
    top: 18px;
    width: 20px;
    height: 20px;
    position: absolute;
    display: block;
    background: royalblue;
    cursor: pointer;
    z-index: 2;
}
  #menu__toggle-label > span {
    top: 8px;
    width: 20px;
    height: 3px;
    position: absolute;
    background: #fff;
    text-indent: -3000px;
    cursor: pointer;
  }
    #menu__toggle-label > span::after, #menu__toggle-label > span::before {
      width: 100%;
      height: 3px;
      display: block;
      position: absolute;
      background: #fff;
      cursor: pointer;
      content: "";
    }
    #menu__toggle-label > span::before {
      top: -6px;
    }
    #menu__toggle-label > span::after {
      top: 6px;
    }
  #menu__nav {
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    padding-top: 2em;
    position: fixed;
    background: royalblue;
    box-shadow: 2px 0 5px #666;

    transform: translate(-102%);
    transition: transform .3s cubic-bezier(0,0,.3,1);
  }
    #menu__toggle:checked~#menu__nav {
      transform: translate(0);
    }
    #menu__nav > div {
      width: 100%;
      height: 80%;
      background: #fff;
      padding: .5em;
      font-size: .8em;
      overflow-y: scroll;
    }
      #menu__nav > div > form > ul,
      #menu__nav > div > form > ul > li > ul {
        padding: 0;
      }

#topicHelpSub,
#topicCommendSub,
#topicViolenceSub,
#topicSexSub,
#topicDeathSub,
#pubimgPositiveSub {
  display: none;
}
  #topicHelp:checked~#topicHelpSub,
  #topicCommend:checked~#topicCommendSub,
  #topicViolence:checked~#topicViolenceSub,
  #topicSex:checked~#topicSexSub,
  #topicDeath:checked~#topicDeathSub,
  #pubimgPositive:checked~#pubimgPositiveSub {
    display: block;
  }

#stats-link button {
  width: 24px;
  height: 24px;
  padding: 0 4px;
  border: none;
  background: transparent;
  cursor: pointer;
}
  #stats-link button span {
    top: 22px;
    width: 3px;
    height: 16px;
    display: block;
    position: absolute;
    background: #fff;
    text-indent: -3000px;
  }
    #stats-link button span::before, #stats-link button span::after {
      width: 3px;
      display: block;
      position: absolute;
      background: #fff;
      content: "";
    }
      #stats-link button span::before {
        top: -2px;
        left: 12px;
        height: 18px;
      }
      #stats-link button span::after {
        top: -4px;
        left: 6px;
        height: 20px;
      }

.floating-button {
  width: 3em;
  height: 3em;
  position: fixed;
  right: 1em;
  bottom: 1em;
  border-radius: 1.5em;
  background: crimson;
  box-shadow: 1px 1px 2px #777;
}

/* NOTE: Code from weather-pwa-sample.firebaseapp.com */

#loader {
  left: 50%;
  top: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  #loader #spinner {
    stroke: #673AB7;
    stroke-width: 3px;
    -webkit-transform-origin: 50%;
            transform-origin: 50%;
    -webkit-animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
            animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg); } }

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg); } }

@-webkit-keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0; }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); } }

@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0; }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); } }

/* end NOTE */

/**
 *  ============================================================================
 *  Index Components
 *  ============================================================================
 */

#main-statusbar li {
  font-style: italic;
  color: #777;
}

.news-item {
  padding: .8em;
  margin: .6em auto;
  background: #fff;
  box-shadow: 0 1px 4px #dfdfdf, 0 -1px 4px #dfdfdf;
}
  .news-item h1 a {
    color: #333;
    text-decoration: none;
  }
  .news-item__tags, .news-page__tags {
    text-decoration: none;
  }
    .news-item__tags:before, .news-page__tags:before {
      color: #666;
      content: "#";
      margin: 0 .5em;
    }

#more-button {
  width: 100%;
  padding: .5em;
  border: none;
  background: #fff;
  box-shadow: 0 1px 4px #dfdfdf, 0 -1px 4px #dfdfdf;
  cursor: pointer;
}

#back-to-top span {
  width: 0;
  height: 0;
  left: 1em;
  top: 1em;
  position: absolute;
  display: block;
  border-left: .5em solid transparent;
  border-right: .5em solid transparent;
  border-bottom: .8em solid #fff;
  text-indent: -3000px;
}

/**
 *  ============================================================================
 *  Stats Components
 *  ============================================================================
 */

#go-to-gender {
  display: flex;
  justify-content: center;
  align-items: center;
}
  #go-to-gender code {
    display: block;
    color: #fff;
    font-size: 1.2em;
  }
